/* Main Style Sheet for jQuery UI date picker */
#datepicker_div, .datepicker_inline {
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	padding: 0;
	margin: 0;
	background: #ddd;
	width: 185px;
}
#datepicker_div {
	display: none;
	border: 1px solid #777;
	z-index: 9999; /*must have*/
}
.datepicker_inline {
	float: left;
	display: block;
	border: 0;
}
.datepicker_rtl {
	direction: rtl;
}
.datepicker_dialog {
	padding: 5px !important;
	border: 4px ridge #ddd !important;
}
button.datepicker_trigger {
	width: 25px;
}
img.datepicker_trigger {
	margin: 2px;
	vertical-align: middle;
}
.datepicker_prompt {
	float: left;
	padding: 2px;
	background: #ddd;
	color: #000;
}
* html .datepicker_prompt {
	width: 185px;
}
.datepicker_control, .datepicker_links, .datepicker_header, .datepicker {
	background: #f4f4f4;
	clear: both;
	float: left;
	width: 100%;
	font-weight: bold;	

}
.datepicker_control {

	padding: 2px 0px;
}
.datepicker_links {
	
	padding: 5px 0px 0px 0px;
}
.datepicker_control, .datepicker_links {
	font-size: 100%;
	letter-spacing: 1px;
}
.datepicker_links label { /* disabled links */
	padding: 2px 5px;
	color: #888;
}
.datepicker_clear, .datepicker_prev {

	float: left;
	width: 34%;
	color: #333;
}
.datepicker_rtl .datepicker_clear, .datepicker_rtl .datepicker_prev {

	float: right;
	text-align: right;
}
.datepicker_current {
	float: left;
	width: 30%;
	text-align: center;
}
.datepicker_close, .datepicker_next {
	float: right;
	width: 34%;
	text-align: right;
}

.datepicker_close{
	padding: 0px 5px 0px 0px;
}

.datepicker_clear{
	padding: 0px 0px 0px 5px;
}

.datepicker_rtl .datepicker_close, .datepicker_rtl .datepicker_next {
	float: left;
	text-align: left;
}
.datepicker_header {
	padding: 5px 0px 10px 0px;
	text-align: center;
	height: 1.3em;
}

.datepicker_newMonth {
	margin: 0px 5px 0px 0px
}

.datepicker_header select {

background-color:#FFFFFF;
border:1px solid #7F9DB9;
color:#666666;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-weight:normal;
height:18px;
padding-left:3px;
vertical-align:middle;

}
.datepicker {
	background: #ccc;
	text-align: center;
	font-size: 100%;
}
.datepicker a {
	display: block;
	width: 100%;
}


.datepicker_titleRow {
	font-weight: bold;	
	background: #ecebe9;
}

.datepicker_daysRow {
	background: #eee;
	color: #666;
}
.datepicker_weekCol {
	background: #777;
	color: #fff;
}
.datepicker_daysCell { 
	font-weight: bold;
	background: #fff;
	color: #333;
	border: 1px solid #fff;
}
.datepicker_daysCell a{
	display: block;
}
.datepicker_weekEndCell 
{
	font-weight: bold;
	background: #f4f4f4;
	border: 1px solid #f4f4f4;
}
.datepicker_daysCellOver {

	border: 1px solid #FFF;

}
.datepicker_unselectable {
	color: #888;
}
.datepicker_today {
	background: #f4f4f4 !important;
	color: #ff0000 !important;
}
.datepicker_currentDay {
	/* background: #fcc !important; */
	color: #ff0000 !important;

}
.datepicker_status {
	background: #ddd;
	width: 100%;
	font-size: 100%;
	text-align: center;
}

/* ________ Datepicker Links _______

** Reset link properties and then override them with !important */
#datepicker_div a, .datepicker_inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	/* color: #000; */
}
.datepicker_inline .datepicker_links a {
	padding: 0 5px !important;
}
.datepicker_control a, .datepicker_links a {
	padding: 5px !important;
	color: #333 !important;
}
.datepicker_titleRow a {
	padding: 4px 0px 5px 0px;
}
.datepicker_control a:hover {
	/* background: #fff !important;	*/
	color: #333 !important;
}
.datepicker_links a:hover, .datepicker_titleRow a:hover {
	display: block;
	color: #000 !important;
}

/* ___________ MULTIPLE MONTHS _________*/

.datepicker_multi .datepicker {
	border: 1px solid #777;
}
.datepicker_oneMonth {
	float: left;
	width: 185px;
}
.datepicker_newRow {
	clear: left;
}

/* ___________ IE6 IFRAME FIX ________ */

.datepicker_cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 185px; /*must have*/
    height: 185px; /*must have*/
}