	/* 
	
	Day-view styles

	These styles are used in calendar template's
	day view.
	
	*/
		.scms_cal_event {
			background-color: #FFFFFF;
		}
		
		.scms_cal_event th{
			background-color: #FAFAFA;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 24px;
			color: #597CBF;
			vertical-align: middle;
			height: 59px;
			line-height: 59px;
			width: 43px;
			padding-left: 8px;
			padding-right: 8px;
			border-bottom: 1px solid #E8EDF6;
		}

		
		.scms_cal_event th a:link, .scms_cal_event th a:visited, .scms_cal_event th a:hover, .scms_cal_event th a:active {
			color: #597CBF; 
		}


		.scms_cal_event td a,.scms_cal_event td a:hover{
			width: 100%;
			height: 100%;
			text-decoration: none;
		}

		.scms_cal_eventrows {
			background-image: url(gfx/calendar/event_table_bg.gif); 
			background-repeat: repeat;
		}

		.scms_cal_event_item {
			position: absolute;
			margin-left: 0px;
			background-color: white;
			background-image: url(gfx/calendar/th_bg.gif); 
			background-repeat: repeat-x;
			border: 1px solid #7390C9;
			width: 60%;
			overflow: hidden;
			padding: 4px;
		}

		.scms_cal_my_event_item {
			position: relative;
			padding: 0px;
			background-color: white;
			background-image: url(gfx/calendar/my_th_bg.gif); 
			background-repeat: repeat-x;
			border: 1px solid #7390C9;
			width: 60%;
			overflow: hidden;
		}

		.scms_cal_event_item span,.scms_cal_my_event_item span{
			display: block;
			margin: 4;
		}

		.scms_cal_event_item hr,.scms_cal_my_event_item hr{
			height: 1px;
			border: 0;
			color: #f5f5f5;
			margin: 0;
		}

		.scms_fullday_table {
			padding: 4;
			line-height: 18px;
		}

		.scms_cal_event_date {
			font-size: 10px;
			color: #888A91;
		}
	
